@import url(themes.css);
@import url(style2.css);

body {
  background-color: #02b3e4;
  font-family: monospace;
  font-size: larger;
}
.container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: 50vw;
  padding: 4vw;
  border-radius: 10px;
  position: relative;
}
#ps {
  width: 100%;
}
ul {
  margin-left: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media (min-width: 900px) {
  .answers {
    padding: 20px !important;
  }
}
.answers {
  list-style: none;
  padding: 2vw;
  border-radius: 7px;
  border: solid 2px gray;
  cursor: pointer;
  backdrop-filter: blur(10px);
}
.answers:hover {
  transition-duration: 0.5s;
  background-color: #02b3e4a4;
  color: #f1f1f1;
  opacity: 0.9;
  scale: 1.2;
}
#btn {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#btn:hover {
  opacity: 0.9;
}
button {
  width: 100px;
  border: 0px;
  padding: 10px 0px;
}
.correct {
  background-image: linear-gradient(
    to left,
    rgba(142, 255, 142, 0.57),
    rgb(142, 255, 142)
  );
}
.wrong {
  background-image: linear-gradient(
    to left,
    rgba(255, 130, 130, 0.57),
    rgb(255, 130, 130)
  );
}
a {
  color: #0095be;
  text-decoration: none;
  padding: 3px 20px;
  border-radius: 20px;
}
a:hover{
    opacity: 0.9;
}
